# Copie este arquivo para .env e preencha com suas credenciais do Supabase
SUPABASE_URL=https://iirobdvnkggkbsarxvzl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlpcm9iZHZua2dna2JzYXJ4dnpsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTYxMjc5MywiZXhwIjoyMDkxMTg4NzkzfQ.dW1l0YuxaYHE6ohsCs9CP_D1H9o7YE7jvV2X2OquR4Q

# Chave da API do Groq (https://console.groq.com/keys)
GROQ_API_KEY=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
